* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

body {
    font-family:
        'Roboto',
        "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    background-color: white;
    letter-spacing: 0.1em;
}

/* navigation */
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

/* hamburger */
.hamburger {
    display: none;
    cursor: pointer;
}

.line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.articleHeader {
    background-color: lightcyan;
    width: 100%;
    height: 70vh;
    padding: 36px;
    position: relative;
    background-image: url(../images/top_mv@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mainTitle{
    font-size: 4.8rem;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0 1px 28px rgb(0 0 0 / 11%),0 1px 28px rgb(0 0 0 / 11%),0 1px 28px rgb(0 0 0 / 11%);
}

.concept {
    margin: 0%;
}

p.text {
    margin: 50px;
}

/* resposive */

@media screen and (max-width: 599px){
    .articleHeader{
        background-color: mistyrose;
    }
}



@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
    .mainTitle {
        font-size: 3.6rem;
    }
}
